# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: node-todo-api # NOTE: update this with your service name

custom:
  todoTableName: 'java-todo-${self:provider.stage}'

provider:
  name: aws
  runtime: nodejs8.10
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'eu-west-2'}
  iamRoleStatements:
  - Effect: Allow
    Action:
    - dynamodb:Query
    - dynamodb:Scan
    - dynamodb:GetItem
    - dynamodb:PutItem
    - dynamodb:UpdateItem
    - dynamodb:DeleteItem
    Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:custom.todoTableName}"

  environment:
    TODO_TABLE_NAME: ${self:custom.todoTableName}  

# you can overwrite defaults here
#  stage: dev
#  region: us-east-1

# you can add statements to the Lambda function's IAM Role here
#  iamRoleStatements:
#    - Effect: "Allow"
#      Action:
#        - "s3:ListBucket"
#      Resource: { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "ServerlessDeploymentBucket" } ] ]  }
#    - Effect: "Allow"
#      Action:
#        - "s3:PutObject"
#      Resource:
#        Fn::Join:
#          - ""
#          - - "arn:aws:s3:::"
#            - "Ref" : "ServerlessDeploymentBucket"
#            - "/*"

# you can define service wide environment variables here
#  environment:
#    variable1: value1

# you can add packaging information here
#package:
#  include:
#    - include-me.js
#    - include-me-dir/**
#  exclude:
#    - exclude-me.js
#    - exclude-me-dir/**

functions:
  hello:
    handler: handler.hello
  createTodo:
    handler: create.create
    events:
    - http:
        path: /todos
        method: post
        cors:
          origin: '*'

#        private: true    
  getTodo:
    handler: get.get
    events:
    - http:
        path: /todos/{id}
        method: get
        cors:
          origin: '*'
#        private: true    
  listTodos:
    handler: list.list
    events:
    - http:
        path: /todos
        method: get
        cors:
          origin: '*'
#        private: true    
  updateTodo:
    handler: update.update
    events:
    - http:
        path: /todos/{id}
        method: put
        cors:
          origin: '*'
#        private: true    
  deleteTodo:
    handler: delete.delete
    events:
    - http:
        path: /todos/{id}
        method: delete
        cors:
          origin: '*'
#        private: true    


# you can add CloudFormation resource templates here
resources:
  Resources:
    TodosDynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.todoTableName}
        AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
        KeySchema:
        - AttributeName: id
          KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1